# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/

# misc
.DS_Store
*.pem
next-env.d.ts
*.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env*.local

# vercel
.vercel

# local scratch
_to_delete/
